[project]
name = "scryer"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = []

[project.optional-dependencies]
dev = [
    "pytest==9.0.2",
    "flake8==7.3.0",
]
